spring.application.name=FlowState

spring.datasource.url=jdbc:mysql://localhost:3306/flowstate
spring.datasource.username=your_username
spring.datasource.password=your_password

spring.jpa.hibernate.ddl-auto=update

jwt.secret=replace_with_your_secret_key
jwt.expiration=3600000